:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --main-font: "Abel";
}
.container {
  width: 1500px;
  height: auto;
  margin: 0 auto;
}
.wrapper {
  text-align: center;
}
.nav-set {
  font-family: "Abel", sans-serif;
  font-size: 20px;
  font-style: bl;
}
h1 {
  margin: 0;
  font-size: 96px;
}
h2 {
  font-size: 48px;
  margin: 0;
  margin-top: 5%;
}
h3 {
  font-size: 24px;
  opacity: 0.7;
  margin: 0;
}
